<a href="https://colab.research.google.com/github/sp-au-mu-nl/MediaDataProgramming/blob/main/intro_numpy/notebook/intro_numpy_18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# polars の dataframe としてのデータのインポート

In [ ]:
import dill
import polars as pl

In [ ]:
!wget https://github.com/sp-au-mu-nl/MediaDataProgramming/raw/refs/heads/main/intro_numpy/data/datafile.pkl

--2025-08-26 13:18:05--  https://github.com/sp-au-mu-nl/MediaDataProgramming/raw/refs/heads/main/intro_numpy/data/datafile.pkl
Resolving github.com (github.com)... 140.82.113.3
Connecting to github.com (github.com)|140.82.113.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/sp-au-mu-nl/MediaDataProgramming/refs/heads/main/intro_numpy/data/datafile.pkl [following]
--2025-08-26 13:18:06--  https://raw.githubusercontent.com/sp-au-mu-nl/MediaDataProgramming/refs/heads/main/intro_numpy/data/datafile.pkl
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1720 (1.7K) [application/octet-stream]
Saving to: ‘datafile.pkl’

datafile.pkl        100%[===================>]   1.68K  --.-KB/s    in 0s

2025-08-26 13:18:06 (15.0 MB/s) - ‘datafile.pkl’ saved [1720/1720]

In [ ]:
dill.load_session('datafile.pkl')

In [ ]:
elements

shape: (7, 4)
┌───────────┬─────────┬─────────┬─────────┐
│ Element   ┆ Density ┆ Volume1 ┆ Volume2 │
│ ---       ┆ ---     ┆ ---     ┆ ---     │
│ str       ┆ f64     ┆ f64     ┆ f64     │
╞═══════════╪═════════╪═════════╪═════════╡
│ Lithium   ┆ 0.53    ┆ 4.0753  ┆ NaN     │
│ Argon     ┆ 1.78    ┆ 6.6678  ┆ 2.1328  │
│ Potassium ┆ 0.86    ┆ 1.5177  ┆ 3.6852  │
│ Calcium   ┆ 1.6     ┆ 3.6375  ┆ 8.5389  │
│ Scandium  ┆ 3.0     ┆ 4.7243  ┆ 10.157  │
│ Vanadium  ┆ 6.11    ┆ 9.0698  ┆ 2.8739  │
│ Strontium ┆ 2.54    ┆ 5.3002  ┆ 4.4508  │
└───────────┴─────────┴─────────┴─────────┘

(polars の) datafrmae から (Series) 変数を抽出するには、列名を利用します。
```
データフレーム名['列名']
```
Series 変数を numpy の ndarray に変換するには、to_numpy メソッドを利用します。

elements['Density'] の内容を d にベクトルとして代入しましょう。

array([0.53, 1.78, 0.86, 1.6 , 3.  , 6.11, 2.54])

dataframe で作業をしている場合、関連するデータをまとめておくこともできます。別々の変数を作成する代わりに、計算の結果を dataframe に追加することができます。
```
<データフレーム> = <データフレーム>.with_columns((pl.col('HeightYards')*0.9144).alias('HeightMeters'))
```
変数 <データ>.HeightMeters が存在しない場合、polars は HeightMeters という名前で dataframe に新しい列を追加します。

elements['Density'] の各要素を elements['Volume1'] で乗算します。

その結果を elements['Mass'] に代入します。

shape: (7, 5)
┌───────────┬─────────┬─────────┬─────────┬───────────┐
│ Element   ┆ Density ┆ Volume1 ┆ Volume2 ┆ Mass      │
│ ---       ┆ ---     ┆ ---     ┆ ---     ┆ ---       │
│ str       ┆ f64     ┆ f64     ┆ f64     ┆ f64       │
╞═══════════╪═════════╪═════════╪═════════╪═══════════╡
│ Lithium   ┆ 0.53    ┆ 4.0753  ┆ NaN     ┆ 2.159909  │
│ Argon     ┆ 1.78    ┆ 6.6678  ┆ 2.1328  ┆ 11.868684 │
│ Potassium ┆ 0.86    ┆ 1.5177  ┆ 3.6852  ┆ 1.305222  │
│ Calcium   ┆ 1.6     ┆ 3.6375  ┆ 8.5389  ┆ 5.82      │
│ Scandium  ┆ 3.0     ┆ 4.7243  ┆ 10.157  ┆ 14.1729   │
│ Vanadium  ┆ 6.11    ┆ 9.0698  ┆ 2.8739  ┆ 55.416478 │
│ Strontium ┆ 2.54    ┆ 5.3002  ┆ 4.4508  ┆ 13.462508 │
└───────────┴─────────┴─────────┴─────────┴───────────┘

dataframe の sort メソッドを使って、dataframe を並べ替えることができます。
```
<データフレーム>.sort('列名')
```
とすると、列名のデータの昇順に行が並べ替えられます。

In [ ]:
elements.sort('Mass')

shape: (7, 5)
┌───────────┬─────────┬─────────┬─────────┬───────────┐
│ Element   ┆ Density ┆ Volume1 ┆ Volume2 ┆ Mass      │
│ ---       ┆ ---     ┆ ---     ┆ ---     ┆ ---       │
│ str       ┆ f64     ┆ f64     ┆ f64     ┆ f64       │
╞═══════════╪═════════╪═════════╪═════════╪═══════════╡
│ Potassium ┆ 0.86    ┆ 1.5177  ┆ 3.6852  ┆ 1.305222  │
│ Lithium   ┆ 0.53    ┆ 4.0753  ┆ NaN     ┆ 2.159909  │
│ Calcium   ┆ 1.6     ┆ 3.6375  ┆ 8.5389  ┆ 5.82      │
│ Argon     ┆ 1.78    ┆ 6.6678  ┆ 2.1328  ┆ 11.868684 │
│ Strontium ┆ 2.54    ┆ 5.3002  ┆ 4.4508  ┆ 13.462508 │
│ Scandium  ┆ 3.0     ┆ 4.7243  ┆ 10.157  ┆ 14.1729   │
│ Vanadium  ┆ 6.11    ┆ 9.0698  ┆ 2.8739  ┆ 55.416478 │
└───────────┴─────────┴─────────┴─────────┴───────────┘

polars の dataframe では、行番号で抽出するときは、slice メソッドを利用できます。

elements の最初の 3 行を抽出するには次のようにします。

In [ ]:
top3 = elements.slice(0,3)

top3 も dataframe であることに注意してください。